---
// Astro Utility
// import { actions } from 'astro:actions';

// import { uploadedVideoBucket } from '../lib/googleCloudStorage';

// Initialize Dependency Injection Container
import { registerAllDependencies } from '../dependency-injection/registerAllDependencies.js';
await registerAllDependencies();

// Fetch videos from the API route
import { GET } from './api/videos.ts';
let response = await GET(Astro);
const {videos} = await response.json();
console.log('Fetched videos:', videos);

// ----------------------------
// Layout
import Layout from '../layouts/Layout.astro';

// UI Components
import VideoUploadForm from '../components/ui/VideoUploadForm';

// Fetch list of videos from the bucket
// const listVideos = async () => {
// 	const [files] = await uploadedVideoBucket.getFiles();
// 	return Promise.all(
// 		files.map(async (file) => ({
// 			name: file.name,
// 			url: await generateSignedUrl(file.name),
// 		})),
// 	);
// };

// Generate a signed URL for accessing the video
// const generateSignedUrl = async (filename: string) => {
// 	const file = uploadedVideoBucket.file(filename);

// 	const [url] = await file.getSignedUrl({
// 		version: 'v4',
// 		action: 'read',
// 		expires: Date.now() + 60 * 60 * 1000, // 1 hour
// 	});

// 	return url;
// };

// const videos = await listVideos();

// Get the result of the upload action
// const result = Astro.getActionResult(
// 	actions.googleCloudStorage.uploadVideo,
// );
// console.log('Upload result:', result);
---

<Layout>
	<div>
		<h2>Videos</h2>
		<ul>
			{
				videos.map((video) => (
					<li style="margin-bottom: 2rem;">
						<video
							width="480"
							controls
							preload="metadata"
						>
							<source
								src={video.url}
								type="video/mp4"
							/>
							Your browser does not support the video
							tag.
						</video>
						<p>{video.name}</p>
					</li>
				))
			}
		</ul>
	</div>

	<!-- Form to upload a video -->
	<VideoUploadForm client:load />

	<!-- {
		result?.error && (
			<p style="color: red;">Error: {result.error.message}</p>
		)
	}
	{
		result && !result.error && (
			<p style="color: green;">{result.data.message}</p>
		)
	} -->
</Layout>
